<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تایید آدرس ایمیل</title>
    <style>
      .container {
        background-color: #f6f6f6;
        width: 100%;
        padding: 30px 0;
      }
      .wrapper {
        background-color: #fff;
        margin: 0 auto;
        max-width: 635px;
        margin-top: 10px;
        padding: 30px 100px;
        border-radius: 5px;
        text-align: center;
        color: #3d4044;
        direction: rtl;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <p style="font-size: 18px; font-weight: 600; margin-bottom: 0">
          به تایپ‌کافه خوش آمدید.
        </p>
        <p style="margin-top: 25px; margin-bottom: 0">کد تایید:</p>
        <p
          style="
            color: #000;
            font-family: Arial;
            margin-top: 15px;
            font-size: 30px;
            margin-bottom: 0;
          "
        >
          {{code}}
        </p>
        <p style="font-size: 13px; margin-top: 15px; margin-bottom: 0">
          این ایمیل جهت تایید آدرس ایمیل، به منظور ثبت حساب کاربری جدید در
          وبسایت تایپ‌کافه برای شما ارسال شده است. فقط کافی است کد تایید را در
          فرم تایید ایمیل کپی کنید.
        </p>
        <p style="font-size: 13px; margin-top: 15px">
          در صورتی که این درخواست توسط شما ارسال نشده، این ایمیل را نادیده
          بگیرید.
        </p>
      </div>
    </div>
  </body>
</html>
